<meta charset="UTF-8"> <meta content="width=device-width, initial-scale=1.0" name="viewport">
<style>
    .cta-section {
        padding: 20px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-top: 20px;
        text-align: center;
    }
    
    .cta-section h2 {
        font-size: 24px;
        margin-bottom: 10px;
        
    }
    
    .cta-section p {
        font-size: 16px;
        margin-bottom: 20px;
        
    }
    
    .cta-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    
    .cta-button:hover {
        background-color: #8ca4bc;
    }
</style>
<div class="cta-section">
    <h2>Request more information</h2>
    <p>About our quoting process, as well as our additional staging and design work.</p>
    <a href="https://tienda-real-trust.myshopify.com/pages/contact" class="cta-button">Click here</a>
</div>
