
<style>
    .introduction {
        background: linear-gradient(to bottom, #b4d4e4, #4898c4); 
        color: #fff; 
        padding: 100px 0; 
        text-align: center;
         }

    .introduction h2 {
        font-size: 36px; 
        font-weight: bold; 
        margin-bottom: 20px; 
        text-transform: uppercase; 
    }

    .introduction h3 {
        font-size: 24px; 
        font-style: italic;
         }
</style>

<div class="introduction">
    <div class="container">
        <h2>{{ "Real Trust, Not Your Average Real Estate Agent" }}</h2>
        <h3>Real Trust has a keen eye for spotting a property's potential, coordinating design and marketing to ensure property owners get the maximum benefit from their sales.</h3>
    </div>
</div>




