<div class="introduction">
  <div class="container">
    <h3>{{ "Real Trust, Not Your Average Real Estate Agent" }}</h3>
    <p>Real Trust has a keen eye for spotting a property's potential, coordinating design and marketing to ensure property owners get the maximum benefit from their sales.</p>
  </div>
</div>



//{{ 'Guardado.png' | file_url }}