<div class="services">
  <div class="container">
    <h3>{{ "Why Choose Us?" }}</h3>
    <p><strong>ROI Potential:</strong> Whether you're looking to buy a fixer-upper or renovate your current home for sale, we'll guide you through potential returns for your projects.</p>
    <p><strong>Design:</strong> Our interior design expertise is the perfect guide through your design options and coordinating contractors to complete home improvements.</p>
    <p><strong>Marketing:</strong> Staging consultation, professional photography, and a sophisticated digital marketing plan accompany every listing to reach today's buyers.</p>
    <p>Fifteen years of real estate experience, excellent customer service, and a commitment to hard work, listening, and moving forward. We provide quality service to build relationships with clients and, most importantly, maintain those relationships by communicating effectively.</p>
    <a href="#" class="btn">Learn More</a>
  </div>
</div>
