<meta charset="UTF-8"> <meta content="width=device-width, initial-scale=1.0" name="viewport">
<style>
.testimonial {
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .testimonial img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 10px;
      float: left;
    }
</style>
<h2>Testimonials</h2>
<!-- Testimonio 1 -->
<div style="text-align: start;" class="testimonial">
<img style="margin-right: 10px; float: start;" src="{{ 'will.jpg' | asset_url }} alt="Will Armstrong">
<p><strong>Will Armstrong</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<!-- Testimonio 2 -->
<div class="testimonial">
<img src="{{ 'brenda.jpg' | asset_url }} alt="Brenda Hudson">
<p><strong>Brenda Hudson</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<!-- Testimonio 3 -->
<div class="testimonial">
<img src="{{ 'ronnel.jpg' | asset_url }} alt="Ronnel Mc Dowell">
<p><strong>Ronnel Mc Dowell</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<!-- Testimonio 4 -->
<div class="testimonial">
<img src="{{ 'peter.jpg' | asset_url }} alt="Peter Suarez">
<p><strong>Peter Suarez</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>